body {
    width: 1200px;
    margin: 0 auto;
    font-family: "OpenSans", sans-serif;
}

.header{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    margin-top: 40px;
    gap: 30px;
}
.ask-btn{
    background-color: #33836E;
    border: none;
    border-radius:10px ;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
}

.phone-number{
    font-weight: bold;
    font-size: 18px;
    display: block;
}
.search{
    width: 427px;
    border: none;
    font-size: 16px;
    background-color: rgb(170, 170, 170);    
    border-radius: 10px;
    padding: 10px;
   
}
.menu{
    display: flex;
    margin-top: 40px;
    gap: 30px;
    justify-content: space-between;
    font-size: 16px;
    align-items: center;
    text-decoration: none;
}
menu a{
    text-decoration: none;
    color: black;
}
.menu-border{  
    display: flex;
    flex-direction: row;
    align-items: center;
    background: transparent url(/png/phone.svg) no-repeat center left;
    background-size: auto;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 10px;
    padding: 15px 25px;
    text-decoration: none;
     color: black;

}
.menu-border2{  
    display: flex;
    flex-direction: row;
    align-items: center;
    background: transparent url(/png/telegram.svg) no-repeat center left;
    background-size: auto;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 10px;
    padding: 15px 25px;
    text-decoration: none;
     color: black;

}
.menu-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
     color: black;
}
.reg-log{
    display: flex;
    flex-direction: row;
    align-items: center;
   text-decoration: none;
    color: black;
}
.user{
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.nav{
   display: flex;
    margin-top: 40px;
    gap: 30px;
    justify-content: space-between;
    font-size: 16px;
    align-items: center;
    text-decoration: none; 
     color: black;
}
.gor_line{
 color: var(--base-black, #140a32);
  text-align: left;
  font-size: 38px;
  font-weight: 700;
  position: relative;
  display: flex;
  justify-content: space-between;

}

.send-question{
    background-color: #33836E;
    border: none;
    border-radius:10px ;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
}
.phone-urist1{
  border-style: solid;
  border-color: var(--green, #33836e);
  border-width: 2px 0 0 0;
  width: 235px;
  height: 0px;
  
}
.phone-urist{
    position: relative;
   text-decoration: none;
    
}
.contact{
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 56px;
  
}
.text-decor{
    color: #9c9c9c;
}
.text-decor1{
    color: #33836E ;
    font-size: 27px;
  font-weight: 700;
}
.qualitis{
    border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.always{
   flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;

}
.free{
     flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  
}
.confidece{
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.speed{
    flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  
}
.dbaeb{
    display: block;
    float: right;
    width: 377px;
    height: 402px;
    justify-content: center;
    object-fit: cover;
    position: absolute;
    left: 1300px;
    top: 226px;
}
.ur_help{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  color: var(--base-black, #140a32);
  text-align: left;
  font-size: 32px;
  font-weight: 700;
  position: relative;
}
.ur_help1{
  box-sizing: border-box;
  display: flex;
  color: var(--base-black, #140a32);
  text-align: left;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  position: relative;
  width: 1140px;
}
.get_ur_help{


}
.b_text{
  font-size: 32px;
  font-weight: 700;
  margin-top: 40px;
  gap: 15px;
}
.boxes {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.box {
    border: 1px solid #aaaaaa;
    border-radius: 20px;
    padding: 20px;
    width: 270px;
}

.box img {
    width: 24px;
    height: 24px;
}

.box a {
    text-decoration: none;
    color: #140a32;
}
.giv{
  margin-top: 50px;
}

.blocks{
   display: flex;
    gap: 20px;
    margin-top: 20px;
}

.block{
  border: 1px solid #aaaaaa;
    border-radius: 20px;
    padding: 20px;
    width: 500px;
    align-items: center;
}